{{outlet}}
<div class="container">
    <div id="login" class="row">
        <div class="col-sm-4"></div>
        <form>
            <div class="form-group">
                <label for="userName">E-Mail Addres:</label>
                {{input type="email" value=emailAddress class="form-control" id="emailAddress"}}
            </div>
            <div class="form-group">
                <label for="userName">User Name:</label>
                {{input type="text" value=userName class="form-control" id="userName"}}
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                {{input type="password" value=password class="form-control" id="password"}}
            </div>
            <div class="form-group">
                <label for="password1">Password:</label>
                {{input type="checkbox" checked=cbState}}
            </div>
            <div>
                <LinkTo @route="index" >Back to Login</LinkTo><br><br>
            </div>
            <button type="submit" class="btn btn-primary" {{action "createUser"}}>Register</button>
        </form>
    </div>
</div>